@import "./styles/scss/index";
::selection {
  color: var(--primary2);
  background: var(--accent);
}
/* Code for Firefox */
::-moz-selection {
  color: var(--primary2);
  background: var(--accent);
}
* {
  padding: 0px;
  margin: 0px;
  font-family: $pop;
  color: $blue;
}

body {
  background: $indigo;
}
