@import "vars/index";
@import "resp";

.search-bar {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  border-radius: 0 1.875rem 1.875rem 0;
  padding: 0.625rem 0.938rem 0.938rem 0.313rem;
  grid-gap: 2em;
  gap: 2em;
  @include mob {
    gap: 0;
    padding: 0.625rem 0 0.938rem 0;
  }
  img {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
  }
  &-form-input {
    background: $blue;
    color: $white;
    border: 0.031rem solid #0e1222;
    box-shadow: 0 -0.25rem 0.313rem rgba(0, 0, 0, 0.1);
    border-radius: 3.125rem;
    padding: 0.4em 2em;
    @include mob {
      padding: 0.4em 0;
    }
    &:focus {
      border: none;
    }
  }
}
