@import "vars/index";
@import "resp";

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $white;
  padding: 1.25rem 0.313rem;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 12em;
  box-shadow: 0.188rem 0.125rem 0.313rem rgba(0, 0, 0, 0.4);
  border-radius: 0 1.875rem 1.875rem 0;
  gap: 2em;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  &:hover {
    transform: scale(1.005);
  }
  &-item {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}
.search {
  position: fixed;
  background: $white;
  left: -31em;
  top: 25.7em;
  width: auto;
  height: auto;
  transition: all 1s ease-in-out;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 0.625rem;
  border-radius: 0 1.875rem 1.875rem 0;
  @include mob {
    left: -35em;
  }
  img {
    cursor: pointer;
  }
}
.active {
  left: 0;
}
