@import "vars/index";
@import "resp";

.topbar {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 1em 5em;
  width: 100vw;
  font-family: $cav;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease-in;
  @include mob {
    gap: 5em;
    width: 100%;
  }
}
.nav-black {
  background: $indigo;
}
.nav-item {
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
}
.nav-logo {
  width: 8.569rem;
  height: 3.75rem;
}
.nav-avtar {
  border: 0.188rem solid $blue;
  border-radius: 3.125rem;
}
